<div id="<%= dom_id volunteer %>">
  <div>
    <strong>Username:</strong>
    <%= volunteer.username %>
  </div>

  <div>
    <strong>Full name:</strong>
    <%= volunteer.full_name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= volunteer.email %>
  </div>

  <div>
    <strong>Phone number:</strong>
    <%= volunteer.phone_number %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= volunteer.address %>
  </div>

  <div>
    <strong>Skills interests:</strong>
    <%= volunteer.skills_interests %>
  </div>

</div>
