<div class="container-fluid col-12">
    <h1>Volunteer For An Event</h1>
    <p>Volunteer for an event and help out your community</p>
    <%= render partial: 'home/components/navigation' %>
    <div class="position-absolute top-50 start-50 translate-middle">
        <h1>Login</h1>
        <%= form_for :session, url: login_path, method: (:post), data: {turbo: false} do |form| %>
          <div class="my-3">
            <%= form.label :username, :username.name.titleize, class:"form-label" %>
            <%= form.text_field :username, value: params.dig(:session, :username), class:"form-control" %>
          </div>

          <div class="my-3">
            <%= form.label :password, :password.name.titleize, class: "form-label" %>
            <%= form.password_field :password, class:"form-control" %>
          </div>

          <div class="actions my-3">
            <%= form.submit "Login", class: "btn btn-primary col-5" %>
            <%= link_to "Register", signup_path, class: "btn btn-success col-5" %>
          </div>
        <% end %>
    </div>
</div>