<div id="<%= dom_id admin %>">
  <div>
    <strong>Id:</strong>
    <%= admin.id %>
  </div>

  <div>
    <strong>Username:</strong>
    <%= admin.username %>
  </div>

  <div>
    <strong>Password:</strong>
    <%= admin.password %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= admin.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= admin.email %>
  </div>

</div>
