<%= form_with(model: admin) do |form| %>
  <% if admin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
        <% admin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-3">
    <%= form.label :username, class: 'form-label' %>
    <%= form.text_field :username, 'disabled': 'true', class: 'form-control' %>
  </div>

  <div class="my-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', required: 'true' %>
  </div>

  <div class="my-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.text_field :email, class: 'form-control', required: 'true' %>
  </div>

  <div class="my-3">
    <%= form.submit class: 'btn btn-primary' %>
    <%= button_to 'Cancel', @admin, class: 'btn btn-danger' %>
  </div>
<% end %>
