<h1><%= @event.title %></h1>

<%= render @event %>

<div>
  <%= link_to "Back", events_path %> |
  <%= link_to "Edit", edit_event_path(@event) %>
  <%= button_to "Delete", @event, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
</div>