<h1><%= @event.title %></h1>

<%= render @event %>

<div>
  <% if @volunteer.present? %>
    <% assignment = @event.assignment_for_volunteer(@volunteer) %>
    <% if assignment.present? && assignment.status != "cancelled" %>
      <%= button_to "Unvolunteer", unvolunteer_event_path(@event), method: :delete, class: "btn btn-secondary" %>
    <% else %>
      <%= button_to "Volunteer", volunteer_event_path(@event), method: :post, class: "btn btn-primary" %>
    <% end %>
  <% end %>
  <%= link_to "Back", events_path, class: "btn btn-secondary" %>
  <% if is_admin? %>
      <%= link_to "Edit", edit_event_path(@event), class: "btn btn-warning" %>
      <%= button_to "Delete",
                    @event,
                    method: :delete,
                    data: { turbo_confirm: "Are you sure?" },
                    class: "btn btn-danger",
                    form: { class: "d-inline" }
      %>
  <% end %>
</div>