<header class="px-3 py-2 text-bg-dark border-bottom">
    <% navbarName='navbarAdmin' %>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid justify-content-lg-start">
            <button class="navbar-toggler navbar-dark btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#<%= navbarName %>" aria-controls="<%= navbarName %>" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="<%= navbarName %>">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li>
                        <%= link_to admins_path, class: "nav-link", 'aria-current' => 'page' do %>
                            <i class="bi bi-house-fill"></i> Home
                        <% end %>
                    </li>
                    <li class="nav-item dropdown">
                        <%= link_to volunteers_path, class: "nav-link", 'aria-current' => 'page' do %>
                            <i class="bi bi-people-fill"></i> Volunteers
                        <% end %>
                    </li>
                    <li class="nav-item dropdown">
                        <%= link_to events_path, class: "nav-link", 'aria-current' => 'page' do %>
                            <i class="bi bi-calendar-event-fill"></i> Events
                        <% end %>
                    </li>
                    <li class="nav-item dropdown">
                        <%= link_to volunteer_assignments_path, class: "nav-link", 'aria-current' => 'page' do %>
                            <i class="bi bi-intersect"></i> Volunteer Assignments
                        <% end %>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <%= link_to "#{@admin.name.titleize}", '#', class: "nav-link dropdown-toggle", 'data-bs-toggle' => "dropdown", 'aria-expanded' => "false" %>
                        <ul class="dropdown-menu dropdown-menu-end text-small">
                            <li>
                                <%= link_to @admin, class: "dropdown-item" do %>
                                    <i class="bi bi-person-circle"></i> Profile
                                <% end %>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <%= link_to logout_path, class: "dropdown-item" do %>
                                    Sign out
                                <% end %>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
