<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Volunteer</th>
            <th scope="col">Event</th>
            <th scope="col">Status</th>
            <th scope="col">Created Date</th>
        </tr>
    </thead>
    <tbody>
    <% link_classes='link-dark link-underline-opacity-0 link-underline-opacity-75-hover' %>
    <% @volunteer_assignments.each do |volunteer_assignment| %>
        <tr id="<%= dom_id volunteer_assignment %>" scope="row">
            <td class="col-1">
                <%= link_to volunteer_assignment, class: link_classes do %>
                    <i class="bi bi-eye-fill"></i> View
                <% end %>
                <br />
                <%= link_to volunteer_assignment, class: link_classes, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                    <i class="bi bi-trash2-fill"></i> Delete
                <% end %>
            </td>
            <td><%= volunteer_assignment.volunteer.full_name %></td>
            <td><%= volunteer_assignment.event.title %></td>
            <td class="col-2"><%= volunteer_assignment.status %></td>
            <td class="col-2"><%= volunteer_assignment.created_at.to_fs(:long) %></td>
        </tr>
    <% end %>
    </tbody>
</table>
