<div class="row justify-content-end px-3">
    <% if @hours_logged.nil?.eql?(false) %>
    Pending Hours: <%= @hours_logged[:pending_hours] %> | Completed Hours: <%= @hours_logged[:completed_hours] %>
    <% end %>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Volunteer</th>
            <th scope="col">Event</th>
            <th scope="col">Status</th>
            <th scope="col">Hours Logged</th>
            <th scope="col">Created Date</th>
            <th scope="col">Updated Date</th>
        </tr>
    </thead>
    <tbody>
    <% link_classes='link-dark link-underline-opacity-0 link-underline-opacity-75-hover' %>
    <% if @volunteer_assignments.nil? || @volunteer_assignments.length.eql?(0) %>
        <tr id="no_assignments" scope="row">
            <td colspan="7" class="text-danger">No Volunteer Assignments Found</td>
        </tr>
    <% else %>
        <% @volunteer_assignments.each do |volunteer_assignment| %>
            <tr id="<%= dom_id volunteer_assignment %>" scope="row">
                <td class="col-1">
                    <%= link_to volunteer_assignment, class: link_classes do %>
                        <i class="bi bi-eye-fill"></i> View
                    <% end %>
                    <br />
                    <%= link_to volunteer_assignment, class: link_classes, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                        <i class="bi bi-trash2-fill"></i> Delete
                    <% end %>
                </td>
                <td>
                    <%=
                        link_to volunteer_assignment.volunteer.full_name,
                                volunteer_assignments_path + "?user_id=#{volunteer_assignment.volunteer.id}",
                                class: link_classes
                    %>
                </td>
                <td><%= volunteer_assignment.event.title %></td>
                <td class="col-2"><%= volunteer_assignment.status %></td>
                <td><%= number_with_precision(volunteer_assignment.hours_worked, precision: 1) if volunteer_assignment.hours_worked.present? %></td>
                <td class="col-2"><%= volunteer_assignment.created_at.to_fs(:long) %></td>
                <td class="col-2"><%= volunteer_assignment.updated_at.to_fs(:long) %></td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
</table>
