<div id="<%= dom_id volunteer_assignment %>">
  <div>
    <strong>Volunteer:</strong>
    <%= volunteer_assignment.volunteer.full_name %>  
  </div>

  <div>
    <strong>Event:</strong>
    <%= volunteer_assignment.event.title %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= volunteer_assignment.status %>
  </div>

  <div>
    <strong>Hours worked:</strong>
    <%= volunteer_assignment.hours_worked %>
  </div>

  <div>
    <strong>Date logged:</strong>
    <%= volunteer_assignment.date_logged %>
  </div>

</div>
